.ant-popover{
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff; 
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected:hover{
        background-color: @item-hover-bg;
        color: @primary-color;
    }
}