{
  "presets": [
    "react",
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}